@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
@import "mixin";
@import "var";

// :root {
//   --ss-poppins: "Poppins", sans-serif;
//   --ss-josefin: "Josefin Sans", sans-serif;
//   --ss-figtree: "Figtree", sans-serif;
//   --ss-font500: 500;
//   --ss-font600: 600;
//   --ss-font700: 700;
//   --ss-font800: 800;
//   --ss-fontbold: bold;
//   --ss-primary: #111418;
//   --ss-secondary: #343A40;
// }

body {
  font-family: $font-poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  background-image: url(../images/pagebg.png);
  background-position: center;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
  color: #b1b1b1;
  font-weight: 400;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

/* Common CSS */
.slick-slide img {
  display: inherit !important;
}

.p-100 {
  padding: 10rem 0rem;
}

.p-50 {
  padding: 5rem 0rem;
}
.common-btn {
    @include common-btn;
}
.common-btn:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #D9D314 0%, #2CE97A 100%);
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s;
    border-radius: 0.5rem;
}
.common-btn:hover::before {
  width: 100%;
}
.title-box {
  margin-bottom: 5rem;
  h2 {
    font-size: 13rem;
    opacity: 0.1;
    font-weight: 600;
    text-transform: uppercase;
    color: #6c757d;
  }
  h3 {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 500;
    position: absolute;
  }
}
/* Nav Area */
.main {
  .nav-area {
    background-color: $bg-primary;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25rem;
    padding: 2rem;
    .logo {
      img {
        border-radius: 50%;
        border: 5px solid transparent;
        background-image: linear-gradient(white, white), linear-gradient(90deg, #2CE97A 0%, #D9D314 100%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        max-width: 15rem;
        cursor: pointer;
      }
      img:hover {
        transform: rotateY(180deg);
        transition: 0.4s ease-in-out;
      }
    }
    .title {
      @include text-bg;
      font-size: 2rem;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 2rem;
      li {
        background-color: $bg-secondary;
        padding: 1rem;
        border-radius: 0.5rem;
        position: relative;
        z-index: 1;
        a {
          color: #fff;
          font-size: 1.6rem;
          img {
            filter: brightness(0) invert(1);
            vertical-align: middle;
            margin-right: 1rem;
            width: 3rem;
            height: 3rem;
          }
        }
      }
      li:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 0;
        background: linear-gradient(90deg, #2CE97A 0%, #D9D314 100%);
        left: 0;
        top: 0;
        z-index: -1;
        transition: all 0.4s;
        border-radius: 0.5rem;
      }
      li:hover:before {
        width: 100%;
      }
    }
  }
  .main-right {
    padding-top: 3rem;
    .banner-area {
      h2 {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 400;
        font-family: $font-poppins;
      }
      h1 {
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font-figtree;
        span {
          -webkit-text-stroke: 1px #fff;
          color: transparent;
        }
      }
      .banner-left {
        position: relative;
        .arrow {
          right: 0;
          position: absolute;
          bottom: 141px;
          z-index: -1;
          max-width: 8rem;
        }
      }
      .banner-right {
        h4 {
          background: linear-gradient(90deg, #2CE97A 0%, #D9D314 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-top: 3rem;
          display: inline-block;
          text-transform: uppercase;
          padding: 2.5rem 3rem;
          border-radius: 4px;
          position: relative;
          border-radius: 0.4rem;
          font-size: 6rem;
          font-style: italic;
        }
        h4:before {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background-color: #2828287d;
          z-index: -1;
          left: 0;
          top: 0;
          border: 1px solid #3b3a3a;
          border-radius: 4px;
        }
        .dots1 {
          position: absolute;
          top: -5px;
          right: -5px;
        }
        .dots2 {
          position: absolute;
          top: -5px;
          left: -5px;
        }
        .dots3 {
          position: absolute;
          bottom: -5px;
          right: -5px;
        }
        .dots4 {
          position: absolute;
          bottom: -5px;
          left: -5px;
        }
        p {
          font-size: 1.7rem;
          line-height: 2.7rem;
        }
        .social-media {
          margin-top: 5rem;
          a {
            font-size: 2.5rem;
            color: #fff;
            background-color: #181A1F;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
          }
          a:hover {
            background: linear-gradient(90deg, #2CE97A 0%, #D9D314 100%);
          }
          ul {
            gap: 2rem;
          }
          h3 {
            font-size: 2rem;
            margin-bottom: 3rem;
            text-transform: capitalize;
          }
        }
      }
    }
    .about-area {
      .about-left {
        h4 {
          color: #fff;
          font-size: 2.8rem;
          font-weight: 600;
          span {
            @include text-bg;
          }
        }
        p {
          margin-top: 1rem;
        }
      }
      .about-right {
        float: right;
        ul {
          gap: 2rem;
          flex-direction: column;
          li {
            border-bottom: 1px solid rgba(250, 250, 250, 0.12);;
            padding-bottom: 1rem;
            &:last-child {
              border-bottom: none;
            }
            span {
              @include text-bg;
            }
          }
        }
      }
      .achivements-area {
        margin-top: 5rem;
        ul {
          li {
            h3 {
              color: #909294;
              font-size: 5rem;
              font-weight: 700;
            }
          }
        }
      }
    }
    .services-area {
      .services-box {
        ul {
          gap: 2rem;
          margin-bottom: 4rem;
          li {
            h3 {
              font-size: 2rem;
              margin-bottom: 1rem;
            }
            i {
              font-size: 3rem;
              background: linear-gradient(90deg, #2CE97A 0%, #D9D314 100%);
              width: 70px;
              height: 70px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
}

/* =====================
   Responsive Media Queries
   ===================== */

/* 340px+ */
@media (min-width: 340px) { }

/* 380px+ */
@media (min-width: 380px) { }

/* 475px+ */
@media (min-width: 475px) { }

/* 768px+ */
@media (min-width: 768px) {
  .offcanvas {
    visibility: visible;
  }
  .offcanvas.offcanvas-start {
    transform: translateX(0);
  }
}

/* 992px+ */
@media (min-width: 992px) { }

/* 1200px+ */
@media (min-width: 1200px) { }

/* 1400px+ */
@media (min-width: 1400px) { }

/* 1600px+ */
@media (min-width: 1600px) { 
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px;
  }
}

/* 1700px+ */
@media (min-width: 1700px) { 
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
  }
}

@media (max-width: 1700px) { }
@media (max-width: 1600px) { }
@media (max-width: 1399px) { 
  .main {
    .main-right {
      margin-left: 10rem;
      .banner-area {
        h1 {
          font-size: 5rem;
        }
        .banner-right {
          h4 {
            font-size: 4rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) { 
  .main {
    .main-right {
      margin-left: 10rem;
      .banner-area {
        h1 {
          font-size: 4rem;
        }
        .banner-right {
          h4 {
            padding: 1.5rem 1rem;
            font-size: 4rem;
          }
        }
      }
      .about-area {
        .achivements-area {
          ul {
            li {
               h3 {
                font-size: 4rem;
               }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 991px) { 
  .p-100 {
    padding: 7rem 0rem;
  }
  .main {
    .nav-area {
      overflow: scroll;
    }
    .main-right {
      margin-left: 14rem;
      .banner-area {
        .nav-icon {
          i {
            @include text-bg;
            font-size: 3rem;
          }
        }
        h1 {
          font-size: 3rem;
        }
        .banner-left {
          .arrow {
            left: 0;
            bottom: 0;
            transform: rotate(282deg);
          }
        }
        .banner-right {
          h4 {
            padding: 1.5rem 1rem;
            font-size: 2.4rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
      }
      .about-area {
        .about-right {
          float: none;
          margin-top: 4rem;
        }
        .achivements-area {
          ul {
            li {
              h3 {
                font-size: 3rem;
              }
              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
      .services-area {
        .services-box {
          ul {
            li {
              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
    .title-box {
      margin-bottom: 2rem;
      h2 {
        font-size: 8rem;
      }
      h3 {
        font-size: 2.5rem;
      }
    }
  }
}
@media (max-width: 767px) { 
  .p-100 {
    padding: 5rem 0rem;
  }
  .main {
    .nav-area {
      padding: 1.5rem;
      ul {
        li {
          padding: 0.7rem;
          a {
            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
    .main-right {
      margin-left: 0rem;
      padding-top: 0rem;
      .title-box {
        h2 {
          font-size: 6rem;
        }
        h3 {
          font-size: 2rem;
        }
      }
      .banner-area {
        .banner-heading {
          position: sticky;
          top: 0;
          background-color: #000;
          padding: 1rem;
          z-index: 999;
        }
        h2 {
          font-size: 2rem;
        }
        h1 {
          font-size: 2.5rem;
          margin-top: 2rem;
        }
        .banner-left {
          text-align: center;
          .banner-pic {
            max-width: 30rem;
            margin: 0 auto;
          }
          .arrow {
            left: 6rem;
            bottom: 0;
            transform: rotate(92deg);
          }
        }
      }
      .about-area {
        .about-left {
          h4 {
            font-size: 2.2rem;
            line-height: 3rem;
            margin-bottom: 2rem;
          }
        }
        .achivements-area {
          ul {
            li {
              p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
      .services-area {
        .services-box {
          ul {
            li {
              h3 {
                margin-bottom: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 475px) { }
@media (max-width: 380px) { }
@media (max-width: 340px) { }